@tailwind base;
@tailwind components;
@tailwind utilities;

a.active::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 5px;
  background: white;
  border-radius: 5px;
}
